<h1>Welcome to your Playlister Website</h1>

<h2>Select the list you would like to see:</h2>

<a href="/songs"><h3>Songs</h3></a>

<a href="/artists"><h3>Artists</h3></a>

<h3><a href="genres">Genres</a></h3>